<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SoundboardYourFriends" Language="1033" Version="1.0.0.0" Manufacturer="sLill" UpgradeCode="cb925a61-ff0e-4de0-ab2a-f774bf6d658b">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!--Features-->
    <Feature Id="ProductFeature" Title="SoundboardYourFriends.Setup" Level="1" Description="Install SoundboardYourFriends">
      <ComponentGroupRef Id="SoundboardYourFriendsComponents" />
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>

    <!--Installer variables-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)SoundboardYourFriends\Resources\License.rtf"/>

    <!--UI-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>

    <!--Application Icon-->
    <!--<Icon Id="AppIcon" SourceFile="$(var.SampleApp.ProjectDir)app.ico"/>
    <Property Id="ARPPRODUCTION" Value="AppIcon"/>-->

    <!--Shortcuts-->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="80F41634-4643-4197-B62C-F422E51C539B">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="!(bind.property.ProductName)" WorkingDirectory="MAINFOLDER" Description="Starts !(bind.property.ProductName)" Target="$(var.SoundboardYourFriends.ProjectDir)$(var.SoundboardYourFriends.TargetFileName)" />
        <RemoveFolder Id ="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\!(bind.property.ProductName)\!(bind.property.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!--Custom Actions-->
    <Binary Id ="CustomActions" src="$(var.SoundboardYourFriends.Setup.CustomActions.TargetDir)\SoundboardYourFriends.Setup.CustomActions.CA.dll"/>
    <CustomAction Id="RegisterDSOFileDllAction1" Property="RegisterDSOFileDllAction2" Value="SolutionDirectory=$(var.SolutionDir)"/>
    <CustomAction Id="RegisterDSOFileDllAction2" Impersonate="no" Return="check" Execute="deferred" BinaryKey="CustomActions" DllEntry="RegisterDSOFileDll" HideTarget="no"/>
    <CustomAction Id="InstallVBCableAction1" Property="InstallVBCableAction2" Value="SolutionDirectory=$(var.SolutionDir)"/>
    <CustomAction Id="InstallVBCableAction2" Impersonate="no" Return="check" Execute="deferred" BinaryKey="CustomActions" DllEntry="InstallVBCable" HideTarget="no"/>
    
    <InstallExecuteSequence>
      <Custom Action='RegisterDSOFileDllAction1' Before='RegisterDSOFileDllAction2'>NOT Installed AND NOT REMOVE</Custom>
      <Custom Action='RegisterDSOFileDllAction2' Before='InstallFiles'>NOT Installed AND NOT REMOVE</Custom>
      <Custom Action='InstallVBCableAction1' Before='InstallVBCableAction2'>NOT Installed AND NOT REMOVE</Custom>
      <Custom Action='InstallVBCableAction2' After='InstallFiles'>NOT Installed AND NOT REMOVE</Custom>
    </InstallExecuteSequence>
  </Product>

  <!--Directories-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="My Application Name"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!--SoundboardYourFriends Components-->
    <ComponentGroup Id="SoundboardYourFriendsComponents">
      
      <!--Executable-->
      <Component Id="ApplicationExecutable" Guid="C4EC9BB0-BE19-40AE-BF76-7FD0582A924D" Directory="INSTALLFOLDER">
        <File Id="SoundboardYourFriends.exe" Source="$(var.SoundboardYourFriends.TargetDir)publish\SoundboardYourFriends.exe" Vital="yes" KeyPath="yes"/>
      </Component>
      
      <!--README-->
      <Component Id="ApplicationReadMe" Guid="42569300-872E-40FF-9561-E199CD2EE44D" Directory="INSTALLFOLDER">
        <File Id="README" Name="ReadMe.txt" Source="$(var.SolutionDir)..\README.MD" Vital="yes" KeyPath="yes"/>       
      </Component>
      
    </ComponentGroup>
  </Fragment>

</Wix>
