<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SoundboardYourFriends" Language="1033" Version="1.0.0.0" Manufacturer="sLill" UpgradeCode="cb925a61-ff0e-4de0-ab2a-f774bf6d658b">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!--Features-->
    <Feature Id="ProductFeature" Title="SoundboardYourFriends.Setup" Level="1" Description="Install SoundboardYourFriends">
      <ComponentGroupRef Id="SoundboardYourFriendsComponents" />
      <ComponentRef Id="DesktopShortcut"/>
    </Feature>

    <!--Installer variables-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)SoundboardYourFriends\Resources\License.rtf"/>

    <!--UI-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>

    <!--Application Icon-->
    <Icon Id="AppIcon" SourceFile="$(var.SolutionDir)SoundboardYourFriends/SoundboardYourFriendsIcon.ico"/>
    <Property Id="ARPPRODUCTION" Value="AppIcon"/>

    <!--Custom Actions-->
    <Binary Id ="CustomActions" src="$(var.SoundboardYourFriends.Setup.CustomActions.TargetDir)\SoundboardYourFriends.Setup.CustomActions.CA.dll"/>
    <CustomAction Id="RegisterDSOFileDllAction1" Property="RegisterDSOFileDllAction2" Value="SolutionDirectory=$(var.SolutionDir)"/>
    <CustomAction Id="RegisterDSOFileDllAction2" Impersonate="no" Return="check" Execute="deferred" BinaryKey="CustomActions" DllEntry="RegisterDSOFileDll" HideTarget="no"/>
    <CustomAction Id="InstallVBCableAction1" Property="InstallVBCableAction2" Value="SolutionDirectory=$(var.SolutionDir)"/>
    <CustomAction Id="InstallVBCableAction2" Impersonate="no" Return="check" Execute="deferred" BinaryKey="CustomActions" DllEntry="InstallVBCable" HideTarget="no"/>

    <InstallExecuteSequence>
      <Custom Action='RegisterDSOFileDllAction1' Before='RegisterDSOFileDllAction2'>NOT Installed AND NOT REMOVE</Custom>
      <Custom Action='RegisterDSOFileDllAction2' Before='InstallFiles'>NOT Installed AND NOT REMOVE</Custom>
      <Custom Action='InstallVBCableAction1' Before='InstallVBCableAction2'>NOT Installed AND NOT REMOVE</Custom>
      <Custom Action='InstallVBCableAction2' After='InstallFiles'>NOT Installed AND NOT REMOVE</Custom>
    </InstallExecuteSequence>
  </Product>

  <!--Directories-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="SoundboardYourFriends"/>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop"/>

    </Directory>
  </Fragment>

  <!--SoundboardYourFriends Components-->
  <Fragment>
    <ComponentGroup Id="SoundboardYourFriendsComponents">

      <!--Executable-->
      <Component Id="ApplicationExecutable" Guid="C4EC9BB0-BE19-40AE-BF76-7FD0582A924D" Directory="INSTALLFOLDER">
        <File Id="SoundboardYourFriends.exe" Source="$(var.SolutionDir)SoundboardYourFriends\bin\Release\publish\SoundboardYourFriends.exe" Vital="yes" KeyPath="yes"/>
      </Component>

      <!--Updater-->
      <!--<Component Id="ApplicationUpdater" Guid="3390180B-885A-4BCC-ACB3-1825BBFB8EEE" Directory="INSTALLFOLDER">
        <File Id="update.exe" Source="$(var.SolutionDir)SoundboardYourFriends.Update\bin\Release\netcoreapp3.1\publish\update.exe" Vital="yes" KeyPath="yes"/>
      </Component>-->

      <!--README-->
      <Component Id="ApplicationReadMe" Guid="42569300-872E-40FF-9561-E199CD2EE44D" Directory="INSTALLFOLDER">
        <File Id="README" Name="ReadMe.txt" Source="$(var.SolutionDir)..\README.MD" Vital="yes" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Shortcuts-->
  <Fragment>
    <Component Id="DesktopShortcut" Directory="INSTALLFOLDER" Guid="*">
      <RegistryValue Id="RegShortcutDesktop"
          Root="HKCU"
          Key="Software\SoundboardYourFriends\SoundboardYourFriends"
          Name="DesktopShortcut"
          Value="1"
          Type="integer"
          KeyPath="yes" />

      <Shortcut Id="desktopSC"
          Target="[INSTALLFOLDER]SoundboardYourFriends.exe"
          WorkingDirectory="INSTALLFOLDER"
          Directory="DesktopFolder"
          Name="SoundboardYourFriends"
          Advertise="no"/>

      <Shortcut Id="startmenuSC"
          Target="[INSTALLFOLDER]SoundboardYourFriends.exe"
          WorkingDirectory="INSTALLFOLDER"
          Directory="ApplicationProgramsFolder"
          Name="SoundboardYourFriends"
          Advertise="no"/>

      <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
    </Component>
    <!--Icon="icon.ico"-->
  </Fragment>

</Wix>
